
.env
.env.*
*.key
*.secret
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.next/
out/
__pycache__/
venv/
fraud_service/venv/
*.pyc
*.pyo
*.pyd
*.pkl
!scaler.pkl
!Channel_ordinal_encoder.pkl
!CustomerOccupation_ordinal_encoder.pkl
!Location_ordinal_encoder.pkl
!TransactionType_ordinal_encoder.pkl

*.pth
!fraud_model.pth
*.db
*.sqlite3
instance/
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db
