@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Public Sans";

}
.cont {
  display: grid;
  place-items: center; 
  height: 50vh;

}

#login-form input{
    padding: 5px;
    width: 250px;
    margin-bottom: 5px;

}

#login-form button{
    padding:10px;
    width: 100%;
    margin-bottom: 5px;
    color: white;
    background-color: black;
    border: 1px solid;
    font-size: 15px;
    cursor: pointer;
}

#login-form button:hover{
    opacity: 0.9;

}