@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{

    font-family: "Public Sans";
}
header{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    height: 100px;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 5px grey;


}
header section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
main{
    margin-top: 130px;

}

#logoutBtn{
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.single-order{
    border-bottom: 1px solid lightgray;


}
.show{
    background-color: black;
    color: white;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid;
    cursor: pointer;
}
.single-order section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.order-info{
    display: none;
}
#orderList{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
}
.home{
    background-color: black;
    color: white;
    width: 110px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    
}