@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{

    font-family: "Public Sans";
}
header{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    height: 100px;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 5px grey;
    z-index: 500;

}

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.searchbar input{
    width: 50%;
    padding: 16px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 0.5px solid grey;
    outline: none;
}
.searchbar button{
    padding: 8px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0.5px solid;
    color: white;
    background-color: black;
}
main{
    margin-top: 130px;
    display: grid;
    grid-template-rows: repeat(2,500px);
    place-items: center;

}
.cont {
  display: grid;
  place-items: center; 

}
.comments-section section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: top;
    gap: 10px;
}

.details-product{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

}
.discount-single{
    background-color: rgb(230, 45, 45);
    color:white;
    border-radius: 20px;
    padding: 7px;
}
.price-before{
    text-decoration: line-through;
    opacity: 0.8;
}
#comment-input{
    font-family: "Public Sans";
    width: 100%;
    height: 150px;
    resize: none;    
    border: 1px solid lightgray;
    padding: 7px;
    border-radius: 10px;
}
.post:not(:disabled){
    width: 100%;
    color: white;
    background-color: black;
    border: 1px solid;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}
.post:disabled{
    width: 100%;
    color: white;
    background-color: black;
    border: 1px solid;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.7;
}
#comments-list {
  max-height: 400px;       
  overflow-y: auto;        
  padding-right: 10px;    
  display: flex;
  flex-direction: column;
  gap: 10px;               
}
.disabled-btn{
    opacity: 0.8;
}
.comment{
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 10px;
}
.acc-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
}
.acc-details button{
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.acc-details a p{
    position: absolute;
    top:0%;
    right: 15px;
    background-color: grey;
    padding: 8px;
    border-radius: 50%;
    color: white;

}

.product{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buy{
    width: 400px;
    padding:15px;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.buy:disabled{
    opacity: 0.7;
}

.desc-p{
    width: 50%;
}
.comment-add-form-wrapper {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.comment-add-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.home{
    background-color: black;
    color: white;
    width: 110px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    
}
.home:hover{
    opacity: 0.85;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.rating input {
  display: none;
}

.rating label {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.2s;
}

.rating label:hover,
.rating label:hover ~ label {
  background: black;
}

.rating input:checked ~ label {
  background: black;
}

.bubble {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 4px;
}

.bubble.filled {
  background: black;
}
